.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
}

/*--common--*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } }

@media screen and (min-width: 1158px) {
   .container {
    max-width: 1158px;
    padding: 0 15px;
   } 
}

/*--Header--*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.header-menu-list,
.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 16px 0;
    display: block;
}

.header-logo-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.burger-btn {
padding: 0;
border: none;
background-color: transparent;
}

.burger-icon{
display: block;
fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts {
    font-style: normal;
  display: block;
}

.header-logo {
    margin-right: 120px;
    padding: 24px 0;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-name-studio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.current::after {
    content: "";
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    display: inline-block;
    background-color: #404bbf;
    background-position: bottom left;
    position: absolute;
}

.current {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
   
}

.header-contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404BBF;
}
}


@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}

.header-contacts-list {
   flex-direction: row;
    gap: 40px;
    align-items: center;
}

.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
    }

    /*--Mobaile menu--*/

.mobail-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 100;
}

.mobail-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
 
.mobail-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.mobail-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        fill: #2e2f42;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: #e7e9fc;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu-close:hover {
    background-color: #404BBF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    fill: #ffffff;
}

.mobail-menu-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mobail-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobail-menu {
    display: none;
}
}

.mobail-menu-list {
  display: block;

}

.mobail-menu-item {
    margin-bottom: 40px;
}

.mobail-menu-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 40px;
}

.current {
    align-items: end;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-contacts {
 
    font-style: normal;
padding-top: 24px;
    padding-bottom: 24px;
}

.mobail-contacts-item{
margin-bottom: 24px;
}

.mobail-contacts-link {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;      
}

.mob-tel {
    color: #4d5ae5;
}

.mob-list-icon {
    display: flex;
    align-items: baseline;
    gap: 40px;
    width: 100%;
    height: 40px;
}

.mob-list-item-icon {
    flex-grow: 1;
    width: 40px;
    height: 40px;
    margin: o auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link {
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 100%;
height: 100%;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon{
    fill: #f4f4fd;
}

.mob-icon-link:hover,
.mob-icon-link:focus {
    background-color: #404BBF
}



/*---Section 1---*/


.button {
    background-color: #2E2F42;
    font-family: inherit;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hiro/people-of-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    block-size: auto;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192pi),
(min-resolution: 2dppx) {
    .button {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hiro/people-of-mob@2x.jpg");
    }
}


.button-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.1;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 72px;
}

.button-click {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) { 
.button {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hiro/people-of-pl.jpg");
}  

.button-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192pi),
(min-resolution: 2dppx) {
    .button {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hiro/people-of-pl@2x.jpg");
    }
}
}

@media screen and (min-width: 1158px) {
.button {
    padding-top: 188px;
    padding-bottom: 188px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hiro/people-office-comp.jpg");
}

.button-title {
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 1.07;
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192pi),
(min-resolution: 2dppx) {
    .button {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hiro/people-office-comp@2x.jpg");
    }
}

}

/*-------Section 2------*/

.features {
 padding-top: 96px;
 padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display:flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.features-item {
width: 100%;
position: relative;
}

.block-icon {
    display: none;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  text-align: center;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {

.features-list {
column-gap: 24px;
row-gap: 72px; 
}

.features-item {
width: calc((100% - 24px) / 2);
   }

.features-subtitle {
    text-align: start;
}
}


@media screen and (min-width: 1158px) {
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
display: flex;
justify-content: flex-start;
flex-wrap: nowrap;
gap: 24px;
}

.block-icon {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;}


.features-text { font-weight: 400;}
}


/*---3-Foto---*/

.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
}


.team-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;align-items: center;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: 264px;
        }

.team-name-container {
padding: 32px 16px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-profesion {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-list-icon {
   
    height: 40px;
    display: flex;
    gap: 24px;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
}

.team-list-item-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
    fill: #F4F4FD;
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 768px) {
.team-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 24px;
            row-gap: 64px;
            flex-basis: calc((100% - 24px) / 2);
            padding-bottom: 96px;
        }

.team-list-item {
    margin-bottom: 0;
                }
    }


@media screen and (min-width: 1158px) {
.team {
    padding-top: 120px;
    }

 .team-list {
 flex-wrap: nowrap;}

 .team-list-item {
 width: calc((100% - 3 * 24px) / 4);
        }

.icon-link:hover,
.icon-link:focus {
    background-color: #404BBF;
                }
}

/*--4-Portfolio--*/

.portfolio {
 padding-top: 96px;
}

.portfolio-title {
    font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}

 .portfolio-name {
     border-bottom: 1px solid #e7e9fc;
     border-left: 1px solid #e7e9fc;
     border-right: 1px solid #e7e9fc;
     padding: 32px 16px;
 }

 .portfolio-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: 0.02em;
     color: #2E2F42;
     margin-bottom: 8px;
 }

 .portfolio-text {
     font-size: 16px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #434455;
 }

.portfolio-text-animation {
    display: none;
}


.portfolio-name {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;

}

@media screen and (min-width: 768px) {
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-bottom: 96px;
    }

.portfolio-list-item{
            flex-basis: calc((100% - 24px) / 2);
            margin-bottom: 0;
        }
}


@media screen and (min-width: 1158px) {
.portfolio-list {
      column-gap: 24px;
      row-gap: 40px;
    }

.portfolio-list-item {
flex-basis: calc((100% - 2 * 24px) / 3);
  }
.portfolio-animation {
    display: flex;
    position: relative;
    overflow: hidden;
}

.portfolio-text-animation {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    top: 0px;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-text-animation {
    transform: translateY(0%);
    opacity: 1;
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
  }

  /*-----------Footer---------*/

.footer {
      background-color: #2E2F42;
      padding: 96px 16px;
  }

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
   
}

.footer-box {
text-align: center;

}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

}

.footer-logo-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;  
  
}

.footer-text {
text-align: start;
font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
  margin-top: 16px;
}

.footer-icon-soc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  gap: 16px;
  justify-content: center;
}


.footer-text-soc {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 208px;
    height: 40px;

}

.footer-icon-item {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-soc {
    fill: #F4F4FD;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    min-width: 165px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
}

.footer-input::placeholder {
    color: #ffffff;
}

.foter-icon-frame {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
.footer-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        max-width: 768px;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        flex-basis: calc((100% - 24px) / 2);
        padding-left: 108px;
    }

.footer-box {
    display: block;
    margin-bottom: 16px;
    width: 264px;
   text-align: start;
}

.footer-text {
    margin-bottom: 0;
    color: #f4f4fd;
}

.footer-form-cont {
    display: flex;
    flex-direction: column;
}
.footer-form {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-input {
    margin-bottom: 0;
    width: 264px;
}


.footer-icon-soc {
   display: block;
}


.footer-text-soc {
text-align: start;
}
}

@media screen and (min-width: 1158px) {
.footer {
        padding: 100px 0;
        
    }

.footer-container {
    max-width: 1158px;
    flex-wrap: nowrap;
    padding: 0 15px;
    column-gap: 0;
   }
.footer-logo {
    margin-bottom: 16px;
}
.footer-box {  
       margin-right: 120px;
   }

.footer-text {
width: 264px;
    justify-content: space-between;
}

.footer-icon-soc {
    margin-right: 80px;
}



.footer-icon-link:hover,
.footer-icon-link:focus {
       background-color: #31D0AA;
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
    }

/*----------Модальне вікно-------------*/
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    margin: 0 auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 640px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.close-button:hover {
    background-color: #404BBF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    fill: #ffffff;
}

.close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
}

.modal-label {
    display: flex;
    align-items: center;
    line-height: 1.17;
    margin-bottom: 4px;
    flex-shrink: 0;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding: 4px;
    color: #FCFCFC;
    line-height: 2;
    letter-spacing: 0.04em;
    outline: transparent;
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-cont {
    position: relative;
    outline: transparent;
    margin-bottom: 8px;
}

.modal-icon {
    fill: transparent;
    stroke: #000000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
    left: 15px;
    left: 16px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-comment {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    color: #FCFCFC;
    line-height: 2;
    letter-spacing: 0.04em;
    outline: transparent;
    resize: none;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-field {
    margin-bottom: 8px;
}

.checkbox-cont {
    margin-bottom: 24px;
}

.modal-check-text {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
    line-height: 1.17;
}

.modal-check-text .yes {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    align-items: center;
    justify-content: center;
    fill: transparent;
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-check:checked+.modal-check-text .yes {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.modal-cont-comment {
    margin-bottom: 16px;
}

.privacy-policy {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-btn:hover,
.modal-btn:focus {
    fill: #ffffff;
}

@media screen and (min-width: 768px) {
.modal {
        max-width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

}



/*------------------- ---------------------*/






























      
       /*-- <picture>

        < !-- Desktop screen -->

        <source media='(min-width: 1158px)'
        srcset="",
         ./images/desktop-image-name@2x.jpg 2x' />

         < !-- Tablet screen -->

         <source media='(min-width: 768px)' 
         srcset='./images/tablet-image-name@1x.jpg 1x,
          ./images/tablet-image-name@2x.jpg 2x' />

          < !-- Mobile screen -->

          <source media='(max-width: 767px)' 
          srcset='./images/mobile-image-name@1x.jpg 1x,
           ./images/mobile-image-name@2x.jpg 2x' />

           <img src='./images/mobile-image-name@1x.jpg' 
           alt='Image description' />

           </picture>--*/